<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>authentication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addNew</display-name>
    <servlet-name>addNew</servlet-name>
    <servlet-class>addNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNew</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_check</display-name>
    <servlet-name>login_check</servlet-name>
    <servlet-class>login_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_check</servlet-name>
    <url-pattern>/login_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_account</display-name>
    <servlet-name>delete_account</servlet-name>
    <servlet-class>delete_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_account</servlet-name>
    <url-pattern>/delete_account</url-pattern>
  </servlet-mapping>
</web-app>